<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>
      <a href="/contact/add" class="btn btn-primary">Tambah Contact baru</a>

      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger" role="alert">
                Contact Empty!
              </div>
            </td>
          </tr>
          <% } %> <% contacts.forEach((contact, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= contact.name %></td>
            <td><%= contact.nohp %></td>
            <td>
              <a
                href="/contact/<%= contact.name %>"
                class="btn btn-success badge rounded-pill"
                ><i class="bi bi-info-circle"></i> detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
